<h1><%= @event.title %> </h1>
<p> <%= @event.body %> </p>
<p> <%= @event.location %> </p>
<p> <%= @event.date %>
<%= form_with(url: "/rsvps", method: "post") do %>
   <%# <% next if event.creator == current_user || event.attendees.include?(current_user) %> 
     <% label_tag(:rsvp) %>
     <%= check_box_tag(:rsvp) %>
     <%= submit_tag("Attend") %>
 <% end %>