<h1><%= @event.title %> </h1>
<p> <%= @event.body %> </p>
<p> <%= @event.location %> </p>
<p> <%= @event.date %> </p>
<% @event.attendees.each do |attendee| %> 
  <p> <%= attendee.email %> </p>
<% end %>
<% if @event.creator == current_user %> 
 <p> You are hosting this event! </p> 
<% elsif @event.attendees.include?(current_user) %> 
 <p> You are already attending this event! </p>
 <%= button_to 'Cancel rsvp', cancel_rsvp_event_path(@event), method: :delete %>
<% else %> 
  <%= button_to 'rsvp', rsvp_event_path(@event), method: :put %>
<% end %> 
  