<h1><%= @event.title %> </h1>
<p> <%= @event.body %> </p>
<p> <%= @event.location %> </p>
<p> <%= @event.date %>
<% if @event.creator == current_user || @event.attendees.include?(current_user) %> 
  <p> You are already attending this event! </p>
<% else %>
  <%= button_to "Accept Invite (Attend)", rsvps_path(attended_event_id: @event.id, attendee_id: current_user.id), :method => :post %>
<% end %>
  