<h1><%= @event.title %> </h1>
<p> <%= @event.body %> </p>
<p> <%= @event.location %> </p>
<p> <%= @event.date %> </p>
<p> <%= @event.attendees.all %> </p>
<% if @event.creator == current_user || @event.attendees.include?(current_user) %> 
 <p> You are already attending this event! </p>
<% else %> %>
  <%= button_to 'rsvp', rsvp_event_path(@event), method: :put %>
<% end %> 
  